In [7]:
import os
import pandas as pd
os.chdir("C:/Users/Akhil/Desktop")
train = pd.read_csv("Train_Dataset.csv")

In [8]:
train['Exp'] = train["experience"].str.extract("(\d*\d.?\d+)", expand=True)

In [9]:
train['Exp'] = train['Exp'].str.split('-')

In [10]:
train[['start','end']] = pd.DataFrame(train.Exp.values.tolist())
train['Avg Exp'] = train[['start','end']].astype(float).mean(axis=1)
train['Salary'] = train['salary'].str.split('to')
train[['sal_start','sal_end']] = pd.DataFrame(train.Salary.values.tolist())
train['Avg_Salary'] = train[['sal_start','sal_end']].astype(float).mean(axis=1)
X = train[['job_desig', 'key_skills', 'City coded', 'Avg Exp', 'Avg_Salary']]
X.drop(['Avg Exp'], axis=1)

,job_desig,key_skills,City coded,Avg_Salary
0,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR,8.0
1,Head SCM,"ppc, logistics, inventory management, supply c...",Tier 2,12.5
2,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,20.0
3,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,12.5
4,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Delhi NCR,4.5
5,Senior Trainer- Academics,"academics, effective communication, teacher tr...",Delhi NCR,8.0
6,Associate Vice President - Fraud Analytics - S...,"Fraud Analytics, People Management Skills, Tea...",Delhi NCR,37.5
7,Manager - Internal Audit - CA - Big4,"Accounting, Internal Audit, Auditing, Enterpri...",Pune,8.0
8,Payroll Executive,"esic, hr, bonus, pf, tds, payroll, superannuat...",Ahmedabad,1.5
9,Required CA (manager Finance) for R&R Salons P...,"accounting standards, finance, auditing, finan...",Bengaluru,20.0
10,Business Analyst,"Test Data, Data Science, Business Analysis, Ma...",Punjab,8.0
11,Senior AVP - Model Development - Bank - IIM/ M...,"Banking, Model Development, Analytics, People ...",Delhi NCR,12.5
12,Sales and Marketing Data Analyst - Data Analytics,"Marketing Automation, Sales, Salesforce, Eloqu...",Pune,12.5
13,Analytics Specialist - Data Science & Big Data,"Data Science, Machine Learning, R, Big Data, P...",Mumbai,8.0
14,Manager / Assistant Manager- FP &A,"Budgeting, Variance Analysis, Forecasting, Capex",Delhi NCR,12.5
15,NLP & Semantic Specialist - Java/j2ee,"Spring, Core Java, J2Ee, Hibernate, Javascript...",Delhi NCR,12.5
16,Hadoop Developer - Rdbms/netezza/oracle,"Hadoop, HBase, Digital Marketing, Netezza, Uni...",Bengaluru,8.0
17,Business Finance Partner,"Business Finance, Financial Control, Business ...",Bengaluru,12.5
18,Data Scientist - Ecommerce,"Information Retrieval, Hadoop, Hive, Spark, Ma...",Bengaluru,20.0
19,Digital Marketing Role,"Digital Marketing, Google Adwords, marketing, ...",Bengaluru,8.0
20,"Business Analyst - Gurgaon, HR","Business Analyst - Gurgaon, HR",Delhi NCR,8.0
21,"Cyber Risk - Chennai Location - Privacy, Data ...","Business Continuity, Data Privacy, ISMS, Infor...",Chennai,37.5
22,Avp/senior AVP - SAS Analytics - Consulting Fi...,"project implementation, client management, sas...",Bengaluru,12.5
23,"Analyst, AR","AR, reconciliations, Finance, Accounting, work...",Pune,1.5
24,Immediately Required Software Tester in IT Par...,"manual testing, test scripts, performance test...",Punjab,1.5
25,Project Manager - Investment Research - BFSI,"Sales, Equity Research, Investment Research, I...",Mumbai,37.5
26,"E Commerce Manager,","amazon, E - commerce, PORTAL HANDLING, Busines...",Ahmedabad,4.5
27,Financial Business Analyst (third Party Payroll),"finance, mis, business analysis, Excel, Macros",Delhi NCR,1.5
28,IXO IOT Applications,"Analytics, Javascript, SCADA, Outsourcing, Pyt...",Bengaluru,4.5
29,Opportunity for Junior Manager / Assistant Man...,"Life Insurance, Actuarial, Actuarial Analyst, ...",Mumbai,20.0
...,...,...,...,...
19772,Urgent Hiring/ Walk In Drive for BDE - Jhande...,"business development, marketing, franchisee de...",Delhi NCR,1.5
19773,Head - Product Management - Telecom/r&d - Iit/...,"Product Management, Head - Product Management,...",Metro,37.5
19774,Vertica Technical Specialist - Centre of Excel...,"C, Algorithms, C++, Data Structures, Multithre...",Metro,20.0
19775,R1rcm- Accretive Analyst/ Senior Analyst Backe...,"bpo, kpo, non bpo, night shift, us process, uk...",Delhi NCR,1.5
19776,Software Sales CRM,"software sales, selling, predictive analytics,...",Hyderabad,1.5
19777,Senior Manager - Reporting/analytics & Busines...,"sales enablement, mis, business operations, bu...",Bengaluru,37.5
19778,Zonal Business Head - Lcv/hcv/ce Financing - N...,"Driving, HCV, LCV, Commercial Vehicle, Structu...",Chennai,12.5
19779,Trading Head - Market Making/high Frequency Tr...,"High Frequency Trading, Trading Head",Pan,37.5
19780,Azure Developer,"Hive, Spark, Hadoop, Talend, Devops, Data Inte...",Hyderabad,12.5
19781,Content Auditor,"copy writing, Content Analysis, content resear...",Delhi NCR,8.0
19782,"Credit Manager,","Financial Analysis, Credit Analysis, Finance, ...",Delhi NCR,1.5
19783,Security Operations Analyst,"nessus, splunk, wireshark",Mumbai,12.5
19784,Collection Analyst,"NBFC, Interpersonal skills, Legal, Collection ...",Kolkata,12.5
19785,Job Opening for Mep-qs for a Leading PMC in Mu...,"Estimation, Billing, Business Planning, Rate A...",Mumbai,12.5
19786,Full time Digital Marketing Trainer( Apply by ...,"digital marketing, seo, email marketing, youtu...",Tier 2,4.5
19787,FP&A Lead,"Finance, Accounting, Budgeting, Financial Anal...",Delhi NCR,20.0
19788,Opening for Relationship Manager-direct Marketing,"Sales, Marketing, Benefits, Cross Selling, Sal...",Chennai,1.5
19789,Principal Software Engineer - IT,"powershell, octopus, .net, continuous integrat...",Bengaluru,12.5
19790,Executive / AM Sales / Sr Counselor -- Bangalore,"student advisor, career advisor, enrollment ex...",Bengaluru,1.5
19791,Senior Product Manager,"Product Strategy, Project Management, Marketin...",Chennai,20.0
19792,PHP Analyst - Mysql/javascript,"HTML, Javascript, CSS, JQuery, JSON, Html5, My...",Delhi NCR,12.5
19793,SDET - Selenium Webdriver & (python/java),"java, selenium webdriver, sdet, python, contin...",Chennai,12.5
19794,Solution Architect-security for Bangalore / Mu...,"Security Analytics, SIEM, Arcsight, QRadar, Sp...",Metro,12.5
19795,Opening for CA Fresher | Amravati,"Lap, Credit Policy, HL, Credit Risk Management...",Maharashtra,4.5
19796,Executive Custome Executive (merchandising ),"HTML, XML, C, Communication Skills",Pune,1.5
19797,"Director, Medical Coding Training","Medical Coding, ICD - 10, US Healthcare, RCM, ...",Hyderabad,20.0
19798,Looking For Freshers WHO WANT To Work WITH US,"offline, online, part time, home base, work fr...",Metro,1.5
19799,PM- C#/ .Net ( Annuity/ Insurance Domain),"SQL Server, VB.NET, C#, .Net, C#.Net, Oracle S...",Hyderabad,20.0
19800,Consultant - Internal Audit,"accounting, internal audit, auditing, risk adv...",Pune,12.5
19801,Unity 3D Developer - Mobile Games Development,"IOS, XCode, Apple, Version Control, Perforce, ...",Hyderabad,12.5

In [11]:
X.dropna(subset=['key_skills'], inplace=True)

C:\Users\Akhil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
X.key_skills.isnull().sum()

0

In [13]:
X.head()

,job_desig,key_skills,City coded,Avg Exp,Avg_Salary
0,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR,6.0,8.0
1,Head SCM,"ppc, logistics, inventory management, supply c...",Tier 2,13.5,12.5
2,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,7.0,20.0
3,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,8.5,12.5
4,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Delhi NCR,2.0,4.5

In [14]:
X['Avg_Exp'] = X['Avg Exp'].astype(int)
X['Avg_Salary'] = X['Avg_Salary'].astype(int)
X = X.drop(['Avg Exp'], axis=1)

C:\Users\Akhil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Akhil\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [ ]:
cvec = CountVectorizer()
X_jd = X.job_desig
y_jd = X.Avg_Salary

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_jd, y_jd, test_size=0.33)

In [ ]:
cvec = CountVectorizer(stop_words='english').fit(X_train)
df_train = pd.DataFrame(cvec.transform(X_train).todense(),columns=cvec.get_feature_names())

In [ ]:
df_test = pd.DataFrame(cvec.transform(X_test).todense(),columns=cvec.get_feature_names())

In [ ]:
print(df_train.shape)
print(y_train.shape)
print(df_test.shape)
print(y_test.shape)

In [ ]:
lr = LogisticRegression()
lr.fit(df_train, y_train)
lr.score(df_test, y_test)

In [ ]:
X_ks = X['key_skills']
y_ks = X.Avg_Salary

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_ks, y_ks, test_size=0.33)

In [ ]:
cvec = CountVectorizer(stop_words='english').fit(X_train)

In [ ]:
ks_train = pd.DataFrame(cvec.transform(X_train).todense(),columns=cvec.get_feature_names())

In [ ]:
ks_test = pd.DataFrame(cvec.transform(X_test).todense(),columns=cvec.get_feature_names())

In [ ]:
lr = LogisticRegression()
lr.fit(ks_train, y_train)
lr.score(ks_test, y_test)

In [ ]:
training = pd.concat([df_train,ks_train],axis=1)
testing = pd.concat([df_test,ks_test],axis=1)

In [ ]:
print (training.shape)
print (testing.shape)
print (y_train.shape)
print (y_test.shape)

In [ ]:
lr = LogisticRegression()
lr.fit(training,y_train)
lr.score(testing,y_test)

In [ ]:
from xgboost import XGBRegressor

In [ ]:
my_model_1 = XGBRegressor(random_state=0)

In [ ]:
my_model_1.fit(df_train, y_train)

In [ ]:
from sklearn.metrics import mean_absolute_error, r2_score

In [ ]:
predictions_1 = my_model_1.predict(df_test)

In [ ]:
mae_1 = mean_absolute_error(predictions_1, y_test)
r2 = r2_score(predictions_1, y_test)

In [ ]:
print("Mean Absolute Error:" , mae_1)
print("R2:" , r2)

In [ ]:
-------------------------------------------------------------------------------------------------------

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
job_desig_transformer = CountVectorizer(stop_words="english")
job_desig_vectorized = job_desig_transformer.fit_transform(X['job_desig'])

key_skills_transformer = CountVectorizer(stop_words="english")
key_skills_vectorized = key_skills_transformer.fit_transform(X['key_skills'])

City_coded_transformer = CountVectorizer(stop_words="english")
City_coded_vectorized = City_coded_transformer.fit_transform(X['City coded'])

In [18]:
import scipy.sparse as sp

In [19]:
combined = sp.hstack([job_desig_vectorized, key_skills_vectorized, City_coded_vectorized], format='csr')

In [20]:
combined.shape

(19801, 9201)

In [21]:
from sklearn.feature_extraction.text import TfidfTransformer

In [22]:
tfidf = TfidfTransformer()
X_train_tfidf = tfidf.fit_transform(combined)

In [23]:
X.Avg_Salary

0         8
1        12
2        20
3        12
4         4
5         8
6        37
7         8
8         1
9        20
10        8
11       12
12       12
13        8
14       12
15       12
16        8
17       12
18       20
19        8
20        8
21       37
22       12
23        1
24        1
25       37
26        4
27        1
28        4
29       20
         ..
19772     1
19773    37
19774    20
19775     1
19776     1
19777    37
19778    12
19779    37
19780    12
19781     8
19782     1
19783    12
19784    12
19785    12
19786     4
19787    20
19788     1
19789    12
19790     1
19791    20
19792    12
19793    12
19794    12
19795     4
19796     1
19797    20
19798     1
19799    20
19800    12
19801    12
Name: Avg_Salary, Length: 19801, dtype: int32

In [24]:
from sklearn.naive_bayes import MultinomialNB

In [25]:
clf = MultinomialNB().fit(X_train_tfidf, X.Avg_Salary)

In [26]:
clf

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [27]:
test = pd.read_csv("Test_Dataset.csv")

In [28]:
X.head()

,job_desig,key_skills,City coded,Avg_Salary,Avg_Exp
0,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR,8,6
1,Head SCM,"ppc, logistics, inventory management, supply c...",Tier 2,12,13
2,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,20,7
3,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,12,8
4,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Delhi NCR,4,2

In [29]:
test['City coded'] = test['location']

In [30]:
test = test[['job_desig', 'key_skills', 'City coded']]

In [31]:
test.head()

,job_desig,key_skills,City coded
0,IT Technology Senior Consultant/java/ J2ee/ Se...,"Java, J2Ee, Tomcat, JBoss, Weblogic, Oracle, E...",Bengaluru
1,Medical Billing Process | International KPO | ...,"Medical Billing, Insurance Processing",Ahmedabad
2,Oracle Sales Cloud Functional Consultant,"Oracle Sales, Functional Consultancy, Troubles...",Bengaluru
3,Looking For Freshers WHO WANT To Work WITH US,"offline, online, internet, part time, home bas...",Metro
4,Process Associate / Sr Process Associate / Tec...,"voice support, analytical skills, Process asso...",Hyderabad

In [32]:

job_desig_vectorized_test = job_desig_transformer.transform(test['job_desig'])


key_skills_vectorized_test = key_skills_transformer.transform(test['key_skills'])


City_coded_vectorized_test = City_coded_transformer.transform(test['City coded'])

In [33]:
combined_test = sp.hstack([job_desig_vectorized_test, key_skills_vectorized_test, City_coded_vectorized_test], format='csr')

In [34]:
combined_test.shape

(6601, 9201)

In [35]:
X_test_tfidf = tfidf.transform(combined_test)

In [36]:
X_test_tfidf

<6601x9201 sparse matrix of type '<class 'numpy.float64'>'
	with 83953 stored elements in Compressed Sparse Row format>

In [37]:
predicted = clf.predict(X_test_tfidf)

In [38]:
predicted[:20]

array([20,  1, 12,  1,  1, 12, 12,  4, 12,  1, 12, 12, 20, 20, 12, 12,  1,
        1, 12, 12])

In [ ]:
----------------------------------------------------------------------------------------------------------------------------

In [ ]:
training = pd.concat([df_train,ks_train],axis=1)
testing = pd.concat([df_test,ks_test],axis=1)
print(testing.head())

In [ ]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(training, y_train)

In [ ]:
predicted = clf.predict(testing)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, predicted)