In [2]:
import os
import pandas as pd
import numpy as np
os.chdir("C:/Users/Sanket/Downloads")
train = pd.read_csv("Train_Dataset.csv")
test = pd.read_csv("Test_Dataset.csv")

In [3]:
train.head()

,Sr no,experience,job_description,job_desig,job_type,key_skills,City coded,company_name_encoded,salary
0,0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR,3687,6to10
1,1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Tier 2,458,10to15
2,2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,4195,15to25
3,3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,313,10to15
4,4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Delhi NCR,1305,3to6

In [4]:
train['Exp'] = train["experience"].str.extract("(\d*\d.?\d+)", expand=True)
train['Exp'] = train['Exp'].str.split('-')
train[['start','end']] = pd.DataFrame(train.Exp.values.tolist())
train['Avg Exp'] = train[['start','end']].astype(float).mean(axis=1)
train['Salary'] = train['salary'].str.split('to')
train[['sal_start','sal_end']] = pd.DataFrame(train.Salary.values.tolist())
train['Avg_Salary'] = train[['sal_start','sal_end']].astype(float).mean(axis=1)
X = train[['job_desig', 'key_skills', 'City coded', 'Avg Exp', 'Avg_Salary']]
X.dropna(subset=['key_skills'], inplace=True)
X['Avg_Exp'] = X['Avg Exp'].astype(int)
X['Avg_Salary'] = X['Avg_Salary'].astype(int)
X = X.drop(['Avg Exp'], axis=1)

Xtraining = X[['job_desig', 'key_skills', 'City coded', 'Avg_Exp']]
ytraining = X[['Avg_Salary']]

C:\Users\Akhil\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Akhil\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Akhil\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [5]:
X.head()

,job_desig,key_skills,City coded,Avg_Salary,Avg_Exp
0,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR,8,6
1,Head SCM,"ppc, logistics, inventory management, supply c...",Tier 2,12,13
2,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,20,7
3,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,12,8
4,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Delhi NCR,4,2

In [6]:
test.head()

,Sr no,experience,job_description,job_desig,job_type,key_skills,location,company_name_encoded
0,1,7-12 yrs,Professional experience in Java/J2EE based ser...,IT Technology Senior Consultant/java/ J2ee/ Se...,NaN,"Java, J2Ee, Tomcat, JBoss, Weblogic, Oracle, E...",Bengaluru,2066
1,2,0-5 yrs,We are looking for 20+ Fresher/Experienced Can...,Medical Billing Process | International KPO | ...,NaN,"Medical Billing, Insurance Processing",Ahmedabad,2629
2,3,3-6 yrs,Should understand overall integration framewor...,Oracle Sales Cloud Functional Consultant,NaN,"Oracle Sales, Functional Consultancy, Troubles...",Bengaluru,2448
3,4,0-3 yrs,NaN,Looking For Freshers WHO WANT To Work WITH US,NaN,"offline, online, internet, part time, home bas...",Metro,2711
4,5,0-5 yrs,NaN,Process Associate / Sr Process Associate / Tec...,NaN,"voice support, analytical skills, Process asso...",Hyderabad,40

In [7]:
test['Exp'] = test["experience"].str.extract("(\d*\d.?\d+)", expand=True)
test['Exp'] = test['Exp'].str.split('-')
test[['start','end']] = pd.DataFrame(test.Exp.values.tolist())
test['Avg Exp'] = test[['start','end']].astype(float).mean(axis=1)
test['City coded']=test['location']
X2 = test[['job_desig', 'key_skills', 'City coded', 'Avg Exp']]
X2['Avg_Exp'] = X2['Avg Exp'].astype(int)
X2 = X2.drop(['Avg Exp'], axis=1)
X2.head()

C:\Users\Akhil\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,job_desig,key_skills,City coded,Avg_Exp
0,IT Technology Senior Consultant/java/ J2ee/ Se...,"Java, J2Ee, Tomcat, JBoss, Weblogic, Oracle, E...",Bengaluru,9
1,Medical Billing Process | International KPO | ...,"Medical Billing, Insurance Processing",Ahmedabad,2
2,Oracle Sales Cloud Functional Consultant,"Oracle Sales, Functional Consultancy, Troubles...",Bengaluru,4
3,Looking For Freshers WHO WANT To Work WITH US,"offline, online, internet, part time, home bas...",Metro,1
4,Process Associate / Sr Process Associate / Tec...,"voice support, analytical skills, Process asso...",Hyderabad,2

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
job_desig_transformer = CountVectorizer(stop_words="english")
job_desig_vectorized = job_desig_transformer.fit_transform(X['job_desig'])

key_skills_transformer = CountVectorizer(stop_words="english")
key_skills_vectorized = key_skills_transformer.fit_transform(X['key_skills'])

City_coded_transformer = CountVectorizer(stop_words="english")
City_coded_vectorized = City_coded_transformer.fit_transform(X['City coded'])

In [43]:
import scipy.sparse as sp

In [44]:
combined = sp.hstack([job_desig_vectorized, key_skills_vectorized, City_coded_vectorized], format='csr')

In [45]:
combined.shape

(19801, 9201)

In [46]:
from sklearn.feature_extraction.text import TfidfTransformer

In [47]:
tfidf = TfidfTransformer()
X_train_tfidf = tfidf.fit_transform(combined)

In [48]:
X.Avg_Salary

0         8
1        12
2        20
3        12
4         4
5         8
6        37
7         8
8         1
9        20
10        8
11       12
12       12
13        8
14       12
15       12
16        8
17       12
18       20
19        8
20        8
21       37
22       12
23        1
24        1
25       37
26        4
27        1
28        4
29       20
         ..
19772     1
19773    37
19774    20
19775     1
19776     1
19777    37
19778    12
19779    37
19780    12
19781     8
19782     1
19783    12
19784    12
19785    12
19786     4
19787    20
19788     1
19789    12
19790     1
19791    20
19792    12
19793    12
19794    12
19795     4
19796     1
19797    20
19798     1
19799    20
19800    12
19801    12
Name: Avg_Salary, Length: 19801, dtype: int32

In [49]:
from sklearn.naive_bayes import MultinomialNB

In [50]:
clf = MultinomialNB().fit(X_train_tfidf, X.Avg_Salary)

In [51]:
job_desig_vectorized_test = job_desig_transformer.transform(test['job_desig'])


key_skills_vectorized_test = key_skills_transformer.transform(test['key_skills'])


City_coded_vectorized_test = City_coded_transformer.transform(test['City coded'])

In [52]:
combined_test = sp.hstack([job_desig_vectorized_test, key_skills_vectorized_test, City_coded_vectorized_test], format='csr')

In [53]:
X_test_tfidf = tfidf.transform(combined_test)
X_test_tfidf

<6601x9201 sparse matrix of type '<class 'numpy.float64'>'
	with 83953 stored elements in Compressed Sparse Row format>

In [54]:
predicted = clf.predict(X_test_tfidf)

In [56]:
predicted[:50]

array([20,  1, 12,  1,  1, 12, 12,  4, 12,  1, 12, 12, 20, 20, 12, 12,  1,
        1, 12, 12, 20, 12, 20,  8, 12, 12, 12, 12, 20, 12,  1, 20, 20,  4,
       20,  8, 20,  1, 12, 20,  1, 20, 20, 20,  8, 12,  4,  8, 20, 12])