In [1]:
import os
import pandas as pd
os.chdir("C:/Users/Akhil/Desktop")
data_train = pd.read_csv("Train_Dataset.csv")
data_test = pd.read_csv("Test_Dataset.csv")

In [6]:
data_train.head()

,Sr no,experience,job_description,job_desig,job_type,key_skills,City coded,company_name_encoded
0,0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR,3687
1,1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Tier 2,458
2,2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,4195
3,3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,313
4,4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Delhi NCR,1305

In [3]:
data_train.dropna(axis=0, subset=['salary'], inplace=True)

In [5]:
y = data_train.salary
data_train.drop(['salary'], axis=1, inplace=True)

In [7]:
from sklearn.model_selection import train_test_split
X_train_full, X_valid_full, y_train, y_valid = train_test_split(data_train, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

In [14]:
low_cardinality_cols = [cname for cname in X_train_full.columns if  
                        X_train_full[cname].dtype == "object"]

In [9]:
numeric_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

In [15]:
low_cardinality_cols

['experience',
 'job_description',
 'job_desig',
 'job_type',
 'key_skills',
 'City coded']

In [16]:
my_cols = low_cardinality_cols + numeric_cols

In [20]:
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()
X_test = data_test[my_cols].copy()

KeyError: "['City coded'] not in index"